@keyframes slideUp {
  0% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(-1%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes collapseActive {
  0% {
    transform: translateY(-1%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes collapseClose {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1%);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes heightGrow {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes heightCollapse {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}
